/* styles.scss or component.css */


.saved-time-display {
  background-color: #3f51b5;
  width: 400px;
  height: 60px;
  position: relative;
  top: 120px;
  color: #fff;
}


.mat-toolbar {
  display: flex;
  justify-content: left;
  align-items: center;
}

.LogRegButton{
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
  }

  .titleButton{
    font-size: 30px;
    font-weight: bold;
  }




